<h1> Cats </h1>


<table>



    <tr> <!-- Header Row-->
        <th>Name</th>
    </tr>


    <%@cats.each do |cat|%>
    <tr> <!-- Row per cat -->
        <td><a href="<%= cat_url(cat.id) %>"><%= cat.name %></a></td>
    </tr>
    <% end %>


</table>
